section {
	margin-top: 50px !important;
	position: relative;
	padding: 0 20px;
	margin-bottom: 0;
}
section .inner {
	display: flex;
	max-width: 1600px;
	margin: 0 auto;
}
section .wrapper {
	flex: 1;
}
section .text-title {
	font-size: 80px;
	font-weight: 500;
	letter-spacing: 1px;
	word-spacing: 2px;
}
section .text-title .hello-emoji {
	display: inline-block;
	transform-origin: 80% 80%;
	animation: hello 1.8s linear infinite;
}
section .text-subtitle {
	font-weight: 300;
	color: #888888;
	margin-top: 50px;
	font-size: 25px;
	line-height: 1.5;
}
section .image-div {
	flex: 1;
}
section img {
	width: 100%;
	margin-left: 5px;
}
@keyframes hello {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-10deg);}
	20% {transform: rotate(12deg);}
	30% {transform: rotate(-10deg);}
	40% {transform: rotate(9deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}