.section--hello {
	margin-top: 50px !important;
	position: relative;
	padding: 0 20px;
	margin-bottom: 0;
}
.section--hello .inner {
	display: flex;
	max-width: 1600px;
	margin: 0 auto;
}
.section--hello .wrapper {
	color: #1f1f1f;
	flex: 1;
}
.section--hello .text-title {
	font-size: 80px;
	font-weight: 500;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.section--hello .text-title .hello-emoji {
	display: inline-block;
	transform-origin: 80% 80%;
	animation: hello 1.8s linear infinite;
}
.section--hello .text-subtitle {
	font-weight: 300;
	color: #888888;
	margin-top: 50px;
	font-size: 25px;
	line-height: 1.5;
}
.section--hello .image-div {
	flex: 1;
}
.section--hello img {
	width: 100%;
	margin-left: 5px;
}
@keyframes hello {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-10deg);}
	20% {transform: rotate(12deg);}
	30% {transform: rotate(-10deg);}
	40% {transform: rotate(9deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}

@media screen and (max-width:1380px) {
	.section--hello .wrapper {
		min-width: 480px;
	}
	.section--hello .text-title {
		font-size: 55px;
	}
	.section--hello .text-subtitle {
		margin-top: 30px;
		font-size: 20px;
	}
}
@media screen and (max-width:768px) {
	.section--hello .inner {
		display: block;
	}
	.section--hello .wrapper {
		min-width: auto;
	}
	.section--hello .text-title {
		font-size: 36px;
		text-align: center;
	}
	.section--hello .text-subtitle {
		text-align: center;
	}
	.section--hello .image-div {
		margin: 30px 0;
		padding: 0px 40px;
		max-width: 600px;
	}
	.section--hello .image-div img {
		margin-left: 0;
	}
	.section--hello .social-links {
		width: fit-content;
		margin: 0 auto;
	}
}